{% extends "layout_multi_sections-forms.html" %}

{% block page_title %}
    Payment summary
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /
{% endblock %}

{% block service_name %}
    Payment summary
{% endblock %}

{% block form_progress %}
{% endblock%}
 
{% block header %}
    Payment summary
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<a href="/" class="link-back form-back">Back</a>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}

<form>
    <div class="form-group">
        <div class="panel panel-border panel-summary">
            <h2>Payment summary</h2>
            <ul class="summary-list">
                <li class="summary-list__row">
                    <span class="summary-list__key"> Item number 1 </span>
                    <span class="summary-list__value"> £10 </span>
                </li>
                <li class="summary-list__row">
                    <span class="summary-list__key"> Item number 2 </span>
                    <span class="summary-list__value"> £20 </span>
                </li>
                <li class="summary-list__row">
                    <span class="summary-list__key"> Item number 3 </span>
                    <span class="summary-list__value"> £30 </span>
                </li>
                <li class="summary-list__row summary-list__row--total">
                    <span class="summary-list__key"> Total </span>
                    <span class="summary-list__value"> £60 </span>
                </li>
            </ul>
        </div>
    </div>
</form>

{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/footer-forms.html" %}
 {% endblock %}