{% extends "layout_multi_sections-forms.html" %}

{% block page_title %}
	Gender and Sex - Leeds City Council
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/phrc/start-page
{% endblock %}

{% block service_name %}
    Asking for sensitive information
{% endblock %}

{% block form_progress %}
{% endblock%}
 
{% block header %}
    Gender
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<a href="/forms/phrc/sensitive/start-page" class="link-back form-back">Back</a>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}

<form>

    <div class="form-group">

        <fieldset>

            <p class="form-label form-label-bold">Which gender do you identify with the most? <span class="form-hint">Optional</span></p>
            <legend class="sr-only">Which gender do you identify with the most?</legend>
                
            <div class="form-group--radio">
                <input type="radio" id="radio-1" name="level0" value="Female (including Trans Female)" aria-controls="radio-1">
                <label class="form-label form-label-bold form-label-radio" for="radio-1">Female (including Trans Female)</label>
            </div>

            <div class="form-group--radio">
                <input type="radio" id="radio-2" name="level0" value="Male (including Trans Male)" aria-controls="radio-2">
                <label class="form-label form-label-bold form-label-radio" for="radio-2">Male (including Trans Male)</label>
            </div>

            <div class="form-group--radio">
                <input type="radio" id="radio-3" name="level0" value="Other" aria-controls="radio-3">
                <label class="form-label form-label-bold form-label-radio" for="radio-3">Other - please write below</label>

                <div class="panel panel-border-narrow js-hidden" id="other-gender">
                    <label class="form-label" for="other-gender">Other </label>
                    <input class="form-control" name="other-gender" type="text" id="other-gender">
                </div>
            </div>
            
            <div class="form-group--radio">
                <input type="radio" id="radio-4" name="level0" value="I prefer not to say" aria-controls="radio-4">
                <label class="form-label form-label-bold form-label-radio" for="radio-4">I prefer not to say</label>
            </div>
        </fieldset>
    </div>
    <a href="/forms/phrc/sensitive/question-2" class="btn btn-primary">Continue</a>
</form>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/footer-forms.html" %}
 {% endblock %}