<h1 class="heading-medium">Which types of waste do you transport regularly? </h1>
<p>Select all that apply</p>
<form>
   <div class="form-group">
       <fieldset>
           <legend class="sr-only">Which types of waste do you transport regularly? </legend>
           <label class="block-label" for="waste-type-1" data-target="waste-type-1">
               <input type="checkbox" id="waste-type-1" name="waste-types" value="Waste from animal carcasses" aria-controls="waste-type-1" aria-expanded="false">
               Waste from animal carcasses
           </label>
           <label class="block-label" for="waste-type-2" data-target="waste-type-2">
               <input type="checkbox" id="waste-type-2" name="waste-types" value="Waste from animal carcasses" aria-controls="waste-type-2" aria-expanded="false">
               Waste from mines or quarries
           </label>
           <label class="block-label" for="waste-type-3" data-target="waste-type-3">
               <input type="checkbox" id="waste-type-3" name="waste-types" value="Waste from animal carcasses" aria-controls="waste-type-3" aria-expanded="false">
               Farm or agricultural waste
           </label>
       </fieldset>
    </div>
</form>