<h1 class="heading-medium">Where do you live?</h1>
<form>
    <div class="form-group">
        <fieldset>
            <legend class="sr-only">Where do you live?</legend>
            <label class="block-label" for="radio-1" data-target="radio-1">
            <input type="radio" id="radio-1" name="radio-group" value="Northern Ireland" aria-controls="radio-1" aria-expanded="false">
            Northern Ireland
            </label>
            <label class="block-label" for="radio-2" data-target="radio-2">
            <input type="radio" id="radio-2" name="radio-group" value="Isle of Man or the Channel Islands" aria-controls="radio-2" aria-expanded="false">
            Isle of Man or the Channel Islands
            </label>
            <label class="block-label" for="radio-3" data-target="radio-3">
            <input type="radio" id="radio-3" name="radio-group" value="I am a British citizen living abroad" aria-controls="radio-3" aria-expanded="false">
            I am a British citizen living abroad
            </label>
        </fieldset>
    </div>
</form>