{% extends "layout_multi_sections-forms.html" %}

{% block page_title %}
	Employment information - Leeds City Council
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block service_start_page %}
    /forms/phrc/start-page
{% endblock %}

{% block service_name %}
    Register to join the Public Health Resource Centre
{% endblock %}

{% block form_progress %}
{% endblock%}
 
{% block header %}
    Work information 
{% endblock%}

{% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<a href="/forms/phrc/question-4" class="link-back form-back">Back</a>
{% endblock %}


{% block breadcrumb %}
{% endblock %}

{% block sectionOneContent %}
<form>    
    <fieldset>         
        <legend class="sr-only">Work address</legend>        
        <div class="form-group postcode-completed">
                <input data-val="true" data-val-required="Please enter a valid Leeds postcode e.g. LS6 2SB" id="Postcode" name="Postcode" type="hidden" value="LS6 2SB">
                <label class="form-label form-label-bold" for="Postcode">Postcode</label>
                <p>LS6 2SB</p>
                <a href="/forms/phrc/question-4">Change</a>
            </div>
            <div class="form-group">
                <label class="form-label form-label-bold" for="select-address">Select your address</label>
                <select class="form-control" id="select-address" name="select-address">
                    <option>3 addresses have been found</option>
                    <option>1 Rawling Way, Leeds LS6 2SB</option>
                    <option>2 Rawling Way, Leeds LS6 2SB</option>
                    <option>3 Rawling Way, Leeds LS6 2SB</option>
                </select>
                <a class="form-group-link" href="#" rel="external">Report a missing or incorrect Leeds address</a>
            </div>
            <div class="form-group">
                <div class="hidden-text">
                    <a class="text-link reveal collapsed" role="button" data-toggle="collapse" href="#hidden-text-example" aria-expanded="false" aria-controls="hidden-text-example">
                        Enter address manually
                    </a>
                    <div class="collapse" id="hidden-text-example">
                        <div class="form-group">
                            <label class="form-label form-label-bold" for="house-no">House number or building name</label>
                            <input class="form-control" id="house-no" type="text" name="house-no">
                        </div>
                        <div class="form-group">
                            <label class="form-label form-label-bold" for="house-add-one">Address line one</label>
                            <input class="form-control" id="house-add-one" type="text" name="house-add-one">
                        </div>
                        <div class="form-group">
                            <label class="form-label form-label-bold" for="house-add-two">Address line two <span class="form-hint">Optional</span></label>
                            <input class="form-control" id="house-add-two" type="text" name="house-add-two">
                        </div>
                        <div class="form-group">
                            <label class="form-label form-label-bold" for="house-town">Town</label>
                            <input class="form-control" id="house-town" type="text" name="house-town">
                        </div>
                        <div class="form-group">
                            <label class="form-label form-label-bold" for="house-postcode">Postcode</label>
                            <input class="form-control" id="house-postcode" type="text" name="house-postcode">
                        </div>
                    </div>
                </div>

                
            </div>
            <a class="btn btn-primary btn-arrow" href="/forms/phrc/question-5">Continue</a>
    </fieldset> 
</form>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block reusablecontent_footer %}
    {% include "includes/footer-forms.html" %}
{% endblock %}