{% extends "layout_multi_sections_home-forms.html" %}

{% block page_title %}
	LCC Forms Prototype
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
    <script src="/public/javascripts/application.js?1.1.60" type="text/javascript"></script>  
{% endblock %}  

{% block pageContent %}

    <h1>Form examples</h1>
    
    <h2>Public Health Resource Centre form example</h2>
    <ul class="list list-bullet">
        <li><a href="forms/phrc/start-page">Start Page</a></li>    
        <li><a href="forms/phrc/question-1">Question one / Your position</a></li>
        <li><a href="forms/phrc/question-2">Question two / Professional information</a></li>
        <li><a href="forms/phrc/question-3">Question three / Employment information</a></li>
        <li><a href="forms/phrc/question-4">Question four / Work information</a>
            <ul class="list list-bullet">
                    <li><a href="forms/phrc/question-4b">Question four b / Work information</a></li>                
                    <li><a href="forms/phrc/question-4c">Question four c / Work information</a></li>
            </ul>
        </li>                                
        <li><a href="forms/phrc/question-5">Question five / Contact details</a></li>
        <li><a href="forms/phrc/question-6">Question six / Age groups of interest</a></li>
        <li><a href="forms/phrc/question-7">Question seven / Topics of interest</a></li>
        <li><a href="forms/phrc/question-8">Question eight / Additional details</a></li>       
        <li><a href="forms/phrc/disclaimer">Disclaimer</a></li>
        <li><a href="forms/phrc/summary-page">Summary page</a></li> 
        <li><a href="forms/phrc/confirmation-page">Confirmation page</a></li>            
    </ul>

    <h2>Error</h2>
    <ul class="list list-bullet">
        <li><a href="forms/phrc/generic-error-page">Generic error page</a></li>         
        <li><a href="forms/phrc/form-error-page">Form error page</a></li>     
                    
    </ul>

    <h2>Disclaimer</h2>
    <ul class="list list-bullet">
        <li><a href="forms/phrc/disclaimer">Disclaimer style one</a></li>    
        <li><a href="forms/phrc/disclaimer-style-two">Disclaimer style two</a></li>
        <li><a href="forms/phrc/privacy-notice">Privacy notice</a></li>        
        <li><a href="forms/phrc/terms-conditions">Terms and conditions</a></li>
                    
    </ul>

    <h2>Asking for sensitive information</h2>
    <ul class="list list-bullet">
        <li><a href="forms/phrc/sensitive/start-page">Start Page</a></li>
        <li><a href="forms/phrc/sensitive/question-1">Question 1 / Gender and sex</a></li>
        <li><a href="forms/phrc/sensitive/question-2">Question 2 / Ethnicity</a></li>
        <li><a href="forms/phrc/sensitive/question-3">Question 3 / Marital status</a></li>
        <li><a href="forms/phrc/sensitive/question-4">Question 4 / Religion</a></li>
        <li><a href="forms/phrc/sensitive/disclaimer">Disclaimer</a></li>
        <li><a href="forms/phrc/sensitive/summary-page">Summary page</a></li>
        <li><a href="forms/phrc/sensitive/confirmation-page">Confirmation page</a></li>
    </ul>

    <h2>Date related questions</h2>
    <ul class="list list-bullet">
        <li><a href="forms/phrc/dates/address-input">Address input</a></li>
        <li><a href="forms/phrc/dates/employment-input">Employment input</a></li>
    </ul>


{% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}