{% extends "layout_multi_sections_home-forms.html" %}

{% block page_title %}
	LCC Forms Prototype
{% endblock %}

{% block css_register %}
    <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
    <script src="/public/javascripts/application.js?1.1.60" type="text/javascript"></script>  
{% endblock %}  

{% block pageContent %}
    <h1 class="heading-xlarge">Service prototypes</h2>

    <ul class="list list-bullet">
        <li><a href="forms/form-example/start-page">Service example</a></li>
        <li><a href="forms/report-a-pothole-or-damaged-road-surface/start-page">Report a pothole or damaged road surface</a></li>
        <li><a href="forms/request-a-new-or-replacement-bin/start-page">Request a new or replacement bin</a></li>
    </ul>
{% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}